#main {
  width: 1100px;
  margin-top: 50px;
}

#box1 {
  height: 300px;
  background-color: #E5D1FA;
  margin-bottom: 20px;
  display: flex;
}

#nicknameBox {
  width: 45%;
  border: 2px solid #976EC2;
  border-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nicknameBox p {
  color: #976EC2;
  font-size: 60px;
  margin: 0;
}

#nicknameBox div {
  background-color: white;
  width: 80%;
  height: 55px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 25px;
  color: #848484;
  text-align: center;
  border: 2px solid #976EC2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mindedBox {
  width: 55%;
  border: 2px solid #976EC2;
  color: #976EC2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 20px;
}

#mindedBox .btn_edit {
  border-radius: 10px;
  margin: 20px 30px 20px auto;
}

#md {
  background-color: white;
  width: 95%;
  height: 160px;
  border-radius: 10px;
  border: 2px solid #976EC2;
  margin-top: 10px;
}

.btn_edit {
  background-color: #976EC2;
  color: white;
  width: 100px;
  height: 45px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

#box2 {
  background-color: #E5D1FA;
  border: 2px solid #976EC2;
  color: #976EC2;
  font-size: 30px;
}

#nickedit {
  display: flex;
  height: 100px;
  align-items: center;
  margin: 0 30px;
  padding-top: 20px;
}

#newPassword {
  display: flex;
}

.btn_del {
  background-color: #976EC2;
  color: white;
  width: 100px;
  height: 45px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.input {
  display: flex;
}

.edit {
  margin: 0 30px;
  height: auto;
  padding: 20px 0;
}

#out {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#btn_out {
  background-color: #FF9C9C;
  color: white;
  width: 90px;
  height: 40px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 15px;
}

#password {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

#newPassword {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}