@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .sign-btn {
    @apply w-72 h-12 rounded-lg bg-[#976ec2] text-white text-lg font-semibold;
  }

  .sign-input {
    @apply w-72 h-12 border border-solid border-[#976ec2] rounded-xl px-4 text-base placeholder:font-semibold focus:outline-none focus:border-2;
  }
  .sign-container {
    @apply w-[900px] h-[700px] flex flex-row my-auto;
  }
  .sign-screen {
    @apply flex flex-col w-2/4 h-full justify-center items-center border border-solid border-[#976ec2];
  }
  .sign-error-message {
    @apply h-10 text-red-500 font-semibold;
  }
}
